- if flash.any?
  .ex-toast-region
    - flash.each do |key, message|
      - variant = Yui::ToastComponent::FLASH_VARIANTS.fetch(key.to_s, :info)
      - Array(message).each do |line|
        = render Yui::ToastComponent.new(line, variant: variant)
