<% if record.errors.any? %>
  <section>
    <h2><%= pluralize(record.errors.count, "error") %> prohibited this <%= record.class.name %> from being saved:</h2>

    <ul>
      <% record.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
