- if record.errors.any?
  = render Yui::CalloutComponent.new(variant: :danger, title: "#{pluralize(record.errors.count, "error")} prohibited this from being saved") do
    ul.yui-stack.yui-stack--xs
      - record.errors.each do |error|
        li = error.full_message
