- if current_team.present?
  = render SearchFormComponent.new(url: current_team_search_path, klass_options: CurrentTeams::SearchesController::SEARCHABLE_KLASSES, default_klass: "Member", query: @query, klass_name: @klass_name)
  = render SearchResultsComponent.new(results: @results, query: @query)
