ul.yui-navbar__group
  = render Yui::NavItemComponent.new("Chronicles", href: "#")
  = render Yui::NavItemComponent.new("Memories", href: "#")
  = render Yui::NavItemComponent.new("Search", href: "#")
