<div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div>
    <h1>Teams</h1>
    <%= link_to 'New team', new_team_path, role: "button" %>
  </div>

  <div id="teams">
    <%= render @teams %>
  </div>
</div>
