.ex-narrow.ex-stack
  = render partial: "form", locals: { member: @member, form_legend: "Edit member" }
  .ex-cluster
    = render Yui::ButtonComponent.new("Open", href: current_team_member_path(@member), variant: :secondary)
    = render Yui::ModalComponent.new(title: "Destroy member", size: :sm) do |modal|
      - modal.with_trigger do
        = render Yui::ButtonComponent.new("Destroy this member", variant: :danger, icon: "trash", size: :sm)
      p.ex-text
        | Are you sure you want to remove
        strong = " #{@member.user.name} "
        | from the team?
      - modal.with_footer do
        button.ex-btn.ex-btn--ghost type="button" data-action="click->yui-modal#close"
          | Close
        = button_to "Destroy Member", current_team_member_path(@member), method: :delete, class: "ex-btn ex-btn--danger"
