= render Yui::CardComponent.new do
  = form_with(model: [:admin, team], builder: YuiFormBuilder, html: { class: "ex-stack" }) do |form|
    = render Yui::HeadlineComponent.new(form_legend, level: 3)
    = render partial: "shared_partials/form_validation_errors", locals: { record: team }
    = form.text_field :name
    = form.submit
