.yui-cluster.yui-cluster--lg style="align-items: baseline"
  = render(Yui::IconComponent.new("feather", size: :sm))
  = render(Yui::IconComponent.new("feather", size: :md))
  = render(Yui::IconComponent.new("feather", size: :lg))
