article
  = form_with(model: [:current_team, memory], multipart: true, data: { controller: "picture-select" }) do |form|
    = render partial: "shared_partials/form_validation_errors", locals: { record: memory }
    fieldset
      h3
        legend
          = form_legend
      div
        = form.label :memo
        = form.text_area :memo, rows: 4, require: true

    = render MemoryAttachInsightsFormComponent.new(form: form, memory: memory)

    div style="margin-top: 1.5rem;"
      = form.submit
