= render Yui::CardComponent.new(id: dom_id(memory), accent: "gold", class: "ex-memory-card") do |card|
  - card.with_header do
    .ex-cluster.ex-cluster--between
      = render Yui::BadgeComponent.new("Memory", icon: "feather")
      = render ManageHeaderComponent.new(record: memory, hide_actions: local_assigns[:hide_actions])

  p.ex-memory-card__memo = memory.memo

  - if memory.picture
    = render partial: "current_teams/pictures/picture", locals: { picture: memory.picture, hide_actions: true }
  - if memory.thought
    = render partial: "current_teams/thoughts/thought", locals: { thought: memory.thought, hide_actions: true }
  - if memory.location
    = render partial: "current_teams/locations/location", locals: { location: memory.location, hide_actions: true }
  - if memory.weblink
    = render partial: "current_teams/weblinks/weblink", locals: { weblink: memory.weblink, hide_actions: true }
