.yui-narrow.yui-stack
  = render partial: "form", locals: { memory: @memory, form_legend: "Edit memory" }
  .yui-cluster
    = render Yui::ButtonComponent.new("Open", href: current_team_memory_path(@memory), variant: :secondary)
    = render PostDestroyModalComponent.new(post: @memory, name: "memory")
