= render partial: "form", locals: { memory: @memory, form_legend: "Edit memory" }
= link_to "Show this memory", current_team_memory_path(@memory), role: "button"
= button_to "Destroy this memory", current_team_memory_path(@memory), method: :delete, class: "secondary"
