article id= dom_id(chronicle)
  header
    h3 = chronicle.name
    p
      small
        strong Dates: 
        = chronicle.start_date
        - if chronicle.end_date.present?
          |  – 
          = chronicle.end_date

  p
    strong Notice:
    = chronicle.notice

  - if chronicle.chronicle_entries.any?
    section
      h4 Entries
      - chronicle.chronicle_entries.each do |chronicle_entry|
        = render ChronicleEntryComponent.new(chronicle_entry: chronicle_entry, scope: "team", team: team)

  footer
    - if action_name != "show"
      = link_to "Show this chronicle", team_chronicle_path(team, chronicle), role: "button"
