= render Yui::CardComponent.new do
  = form_with(model: [:admin, chronicle], builder: YuiFormBuilder, multipart: true, html: { class: "ex-stack" }, data: { controller: "picture-select" }) do |form|
    = render Yui::HeadlineComponent.new(form_legend, level: 3)
    = render partial: "shared_partials/form_validation_errors", locals: { record: chronicle }
    = render partial: "admins/team_field", locals: { form: form }
    = form.text_field :name, required: true
    = form.text_area :notice, rows: 6, required: true
    = form.date_field :start_date, required: true
    = form.date_field :end_date
    = form.select :visibility, Chronicle::VISIBILITY_STATES.map { |v| [v.titleize, v] }, label: "Visibility"
    = render ChronicleAttachedEntriesFormComponent.new(form:, scope: "admin")
    = render InsightAttachmentManagerComponent.new(form:, scope: "admin", mode: :multiple)
    = form.submit
