.yui-narrow.yui-stack
  = render partial: "form", locals: { chronicle: @chronicle, form_legend: "Edit chronicle" }
  = render partial: "admins/edit_actions", locals: { name: "chronicle", record: @chronicle }
