= render partial: "form", locals: { chronicle: @chronicle, form_legend: "Edit chronicle" }
= link_to "Show this chronicle", admin_chronicle_path(@chronicle), role: "button"
= button_to "Destroy this chronicle", admin_chronicle_path(@chronicle), method: :delete, class: "secondary"
