p
  | Hello
  = @user.name
  | ,

p
  | You requested a password reset for your Yournaling account.
p
  | Click the link below to set a new password:
p
  = link_to "Reset Password", edit_user_password_url(token: @token)

p
  | This link will expire in 15 minutes. If you did not request this, please ignore this email.
