<div id="current_user_teams">
  <% @current_user_teams.each do |current_user_team| %>
    <%= render partial: "current_teams/current_team", locals: { current_user_team: current_user_team } %>
  <% end %>
</div>
