= render Yui::CardComponent.new do
  = form_with(model: [:admin, weblink], builder: YuiFormBuilder, html: { class: "yui-stack" }) do |form|
    = render Yui::HeadlineComponent.new(form_legend, level: 3)
    = render partial: "shared_partials/form_validation_errors", locals: { record: weblink }
    = render partial: "admins/team_field", locals: { form: form }
    = form.text_field :name, required: true
    = form.text_field :url, label: "URL", required: true
    = form.text_area :description
    = form.date_field :date
    = form.submit
