.yui-narrow.yui-stack
  - if current_team == @picture.team
    = render partial: "form", locals: { picture: @picture, form_legend: "Edit picture" }
  .yui-cluster
    = render Yui::ButtonComponent.new("Open", href: current_team_picture_path(@picture), variant: :secondary)
    - if current_team == @picture.team
      = render InsightDestroyModalComponent.new(insight: @picture, name: "picture")
