= render Yui::CardComponent.new(id: dom_id(login)) do
  dl.ex-details
    dt Last login
    dd = login.updated_at.rfc822
    dt Device
    dd = render DeviceComponent.new(user_agent: login.user_agent)
    dt Location
    dd = render DeviceLocationComponent.new(ip_address: login.ip_address)
  - if login.device_id == session[:device_id]
    = render Yui::BadgeComponent.new("Current session", variant: :success)
  - else
    = button_to "Destroy this session", login_record_path(login), method: :delete, class: "ex-btn ex-btn--danger ex-btn--sm"
