= render Yui::CardComponent.new(id: dom_id(location)) do
  = render Yui::HeadlineComponent.new(location.name, level: 3)
  dl.yui-details
    - if location.country_label
      dt Country
      dd = location.country_label
    - if location.address.present?
      dt Address
      dd = location.address
    - if location.geocoded_address.present?
      dt Geocoded
      dd
        ul.yui-stack.yui-stack--xs
          - location.geocoded_address.sort.each do |k, v|
            li = "#{k}: #{v}"
    - if location.url.present?
      dt Website
      dd = render ExternalLinkComponent.new(url: location.url, text: location.url)
    - if location.lat.present? || location.long.present?
      dt Coordinates
      dd = "#{location.lat}, #{location.long}"
    - if location.description.present?
      dt Description
      dd = location.description
    = render AdminShowTeamComponent.new(team: location.team)
    = render AdminShowMetaInformationComponent.new(record: location)
  = render AdminActionsComponent.new(record: location, name: "location")
