.ex-narrow.ex-stack
  = render partial: "form", locals: { location: @location, form_legend: "Edit location" }
  = render partial: "admins/edit_actions", locals: { name: "location", record: @location }
