- is_weblink_show = local_assigns[:full] || (controller_name == "weblinks" && action_name == "show")
- if is_weblink_show
  = render Yui::CardComponent.new(id: dom_id(weblink)) do
    dl.yui-details
      dt Name
      dd = weblink.name
      dt URL
      dd = render ExternalLinkComponent.new(url: weblink.url, text: weblink.url)
      - if weblink.description.present?
        dt Description
        dd = weblink.description
- else
  = render Yui::TagComponent.new(weblink.name.presence || weblink.url, href: weblink.url, external: true, icon: "link", id: dom_id(weblink))
