- is_weblink_show = local_assigns[:full] || (controller_name == "weblinks" && action_name == "show")
- if is_weblink_show
  article id= dom_id(weblink)
    p
      strong Name:&nbsp;
      = weblink.name
    p
      strong Url:&nbsp;
      = render ExternalLinkComponent.new(url: weblink.url, text: weblink.url)
    - if weblink.description.present?
      p
        strong Description:&nbsp;
        = weblink.description
- else
  = render Yui::TagComponent.new(weblink.name.presence || weblink.url, href: weblink.url, external: true, icon: "link", id: dom_id(weblink))
