= render Yui::CardComponent.new do
  = form_with(model: [:admin, thought], builder: YuiFormBuilder, html: { class: "ex-stack" }) do |form|
    = render Yui::HeadlineComponent.new(form_legend, level: 3)
    = render partial: "shared_partials/form_validation_errors", locals: { record: thought }
    = render partial: "admins/team_field", locals: { form: form }
    = form.text_area :text, label: "Text", required: true
    = form.date_field :date
    = form.submit
