= render Yui::CardComponent.new(id: dom_id(thought)) do
  = render Yui::HeadlineComponent.new("Thought", level: 3)
  dl.yui-details
    dt Text
    dd = thought.text
    dt Date
    dd = thought.date
    = render AdminShowTeamComponent.new(team: thought.team)
    = render AdminShowMetaInformationComponent.new(record: thought)
  = render AdminActionsComponent.new(record: thought, name: "thought")
