= render partial: "form", locals: { thought: @thought, form_legend: "Edit thought" }
= link_to "Show this thought", @thought, role: "button"
= button_to "Destroy this thought", thought_path(@thought), method: :delete, class: "secondary"
