.yui-narrow
  = render Yui::CardComponent.new do
    = render Yui::HeadlineComponent.new(form_legend, level: 3)
    = form_with model: user, url: edit_user_password_path(token: params[:token]), method: :patch, builder: YuiFormBuilder, html: { class: "yui-stack" } do |form|
      = render partial: "shared_partials/form_validation_errors", locals: { record: user }
      = form.password_field :password, label: "New Password", required: true, autofocus: true, autocomplete: "new-password"
      = form.submit "Update Password"
