article
  = form_with(model: user, url: edit_user_password_path(token: params[:token]), method: :patch) do |form|
    = render partial: "shared_partials/form_validation_errors", locals: { record: user }
    fieldset
      h3
        legend
          = form_legend
      div
        = form.label :password, "New Password"
        = form.password_field :password, required: true, autofocus: true
      .inline
        = form.submit "Update Password"
