article
  = form_with url: user_password_path do |form|
    fieldset
      h3
        legend
          = form_legend
      div
        = form.label :email
        = form.email_field :email, required: true, autofocus: true
      .inline
        = form.submit "Send Instructions"
