= render Yui::CardComponent.new do
  = form_with(model: [:current_team, thought], builder: YuiFormBuilder, html: { class: "ex-stack" }) do |form|
    = render Yui::HeadlineComponent.new(form_legend, level: 3)
    = render partial: "shared_partials/form_validation_errors", locals: { record: thought }
    = form.text_area :text, label: "Thought", rows: 4, required: true, placeholder: "Write a memorable thought, quote, or reflection…"
    = form.date_field :date
    = form.submit
