- if local_assigns[:hide_actions]
  = render Yui::BlockquoteComponent.new(thought.text, variant: :card, id: dom_id(thought))
- else
  = render Yui::CardComponent.new(id: dom_id(thought)) do
    = render ManageHeaderComponent.new(record: thought, hide_actions: false)
    = render Yui::BlockquoteComponent.new(thought.text, variant: :card)
