- if local_assigns[:hide_actions]
  = render Yui::TagComponent.new(weblink.name.presence || weblink.url, href: weblink.url, external: true, icon: "link", id: dom_id(weblink))
- else
  = render Yui::CardComponent.new(id: dom_id(weblink)) do
    = render ManageHeaderComponent.new(record: weblink, hide_actions: false)
    dl.ex-details
      dt URL
      dd = render ExternalLinkComponent.new(url: weblink.url, text: weblink.url)
      - if weblink.description.present?
        dt Description
        dd = weblink.description
