- if local_assigns[:hide_actions]
  = render Yui::TagComponent.new(weblink.name.presence || weblink.url, href: weblink.url, external: true, icon: "link", id: dom_id(weblink))
- else
  article id= dom_id(weblink)
    = render ManageHeaderComponent.new(record: weblink, hide_actions: local_assigns[:hide_actions])

    p
      strong Url:
      br
      = render ExternalLinkComponent.new(url: weblink.url, text: weblink.url)

    - if weblink.description.present?
      p
        strong Description:
        br
        = weblink.description
