.yui-narrow.yui-stack
  - if current_team == @weblink.team
    = render partial: "form", locals: { weblink: @weblink, form_legend: "Edit weblink" }
  .yui-cluster
    = render Yui::ButtonComponent.new("Open", href: current_team_weblink_path(@weblink), variant: :secondary)
    - if current_team == @weblink.team
      = render InsightDestroyModalComponent.new(insight: @weblink, name: "weblink")
