article id= dom_id(chronicle)
  = render ManageHeaderComponent.new(record: chronicle, hide_actions: local_assigns[:hide_actions], full: local_assigns[:full])

  p
    strong Notice:
    br
    = chronicle.notice

  - if local_assigns[:full] || action_name == "show"
    - if chronicle.entries.any?
      section
        h4 Entries
        - chronicle.entries.each do |chronicle_entry|
          = render ChronicleEntryComponent.new(chronicle_entry: chronicle_entry, scope: "current_team")
  - elsif chronicle.first_picture.present?
    p
      = render partial: "current_teams/pictures/picture", locals: { picture: chronicle.first_picture, hide_actions: true }
