article id= dom_id(chronicle)
  header
    h3 = chronicle.name
    p
      small
        strong Dates: 
        = chronicle.start_date
        - if chronicle.end_date.present?
          |  – 
          = chronicle.end_date
        |  | 
        strong Visibility: 
        = chronicle.visibility

  p
    strong Notice:
    = chronicle.notice

  - if chronicle.chronicle_entries.any?
    section
      h4 Entries
      - chronicle.chronicle_entries.each do |chronicle_entry|
        = render ChronicleEntryComponent.new(chronicle_entry: chronicle_entry, scope: "current_team")

  footer
    - if action_name != "show"
      = link_to "Show this chronicle", current_team_chronicle_path(chronicle), role: "button"
    - if current_team == chronicle.team
      = link_to "Edit this chronicle", edit_current_team_chronicle_path(chronicle), role: "button", class: "secondary"
      = link_to "Change visibility", current_team_content_visibility_path(chronicle), role: "button", class: "secondary"
