article
  = form_with(model: [:current_team, chronicle], multipart: true, data: { controller: "picture-select" }) do |form|
    = render partial: "shared_partials/form_validation_errors", locals: { record: chronicle }
    fieldset
      h3
        legend
          = form_legend
      div
        = form.label :name
        = form.text_field :name, required: true
      div
        = form.label :notice
        = form.text_area :notice, rows: 6, required: true
      div
        = form.label :start_date
        = form.date_field :start_date, required: true
      div
        = form.label :end_date
        = form.date_field :end_date
      div
        = form.label :visibility
        = form.select :visibility, Chronicle::VISIBILITY_STATES.map { |v| [v.titleize, v] }, selected: form.object.visibility

    = render ChronicleAttachedEntriesFormComponent.new(form:, scope: "current_team")
    = render ChronicleAttachInsightsFormComponent.new(form:, chronicle:, scope: "current_team")

    div
      = form.submit

