= render partial: "form", locals: { chronicle: @chronicle, form_legend: "Edit chronicle" }
= link_to "Open", current_team_chronicle_path(@chronicle), role: "button"
= button_to "Destroy this chronicle", current_team_chronicle_path(@chronicle), method: :delete, class: "secondary", data: { turbo_confirm: "Are you sure you want to destroy this chronicle?" }
