.ex-narrow.ex-stack
  = render partial: "form", locals: { chronicle: @chronicle, form_legend: "Edit chronicle" }
  .ex-cluster
    = render Yui::ButtonComponent.new("Open", href: current_team_chronicle_path(@chronicle), variant: :secondary)
    = render PostDestroyModalComponent.new(post: @chronicle, name: "chronicle")
