= render Yui::CardComponent.new do
  = render Yui::HeadlineComponent.new(form_legend, level: 3)
  = form_with model: user, builder: YuiFormBuilder, html: { class: "yui-stack" } do |form|
    = render partial: "shared_partials/form_validation_errors", locals: { record: user }
    = form.text_field :name, autocomplete: "name"
    = form.email_field :email, autocomplete: "email"
    = form.password_field :password, autocomplete: "new-password"
    = form.submit
