.ex-narrow.ex-stack
  = render partial: "form", locals: { user: @user, form_legend: "Edit user" }
  .ex-cluster
    = render Yui::ButtonComponent.new("Show this user", href: user_path(@user), variant: :secondary)
    = button_to "Destroy this user", user_path(@user), method: :delete, class: "ex-btn ex-btn--danger"
