.yui-narrow
  = render Yui::CardComponent.new do
    = render Yui::HeadlineComponent.new(form_legend, level: 3)
    = form_with model: user, url: registration_path, builder: YuiFormBuilder, html: { class: "yui-stack" } do |form|
      = render partial: "shared_partials/form_validation_errors", locals: { record: user }
      = form.text_field :name, required: true, autofocus: true, autocomplete: "name"
      = form.email_field :email, required: true, autocomplete: "email"
      = form.password_field :password, required: true, autocomplete: "new-password"
      = form.submit form_legend
    .yui-stack.yui-stack--xs
      = render Yui::LinkComponent.new("Already have an account? Sign in", href: login_path)
