article.yournal-card.memory-card id= dom_id(memory)
  header.card-header
    span.card-badge 💡 Memory
    small.text-muted = memory.team.name

  p
    strong Memo: 
    = memory.memo

  - if memory.picture
    = render partial: "teams/pictures/picture", locals: { team:, picture: memory.picture }
  - if memory.thought
    = render partial: "teams/thoughts/thought", locals: { team:, thought: memory.thought }
  - if memory.location
    = render partial: "teams/locations/location", locals: { team:, location: memory.location }
  - if memory.weblink
    = render partial: "teams/weblinks/weblink", locals: { team:, weblink: memory.weblink }

  footer
    - is_memory_show = (controller_name == "memories" && action_name == "show")
    - if !is_memory_show
      = link_to "Show this memory", team_memory_path(team, memory), role: "button"
