= render Yui::CardComponent.new(id: dom_id(memory), accent: "gold", class: "ex-memory-card") do |card|
  - card.with_header do
    .ex-cluster.ex-cluster--between
      = render Yui::BadgeComponent.new("Memory", icon: "feather")
      = render BrowseHeaderComponent.new(record: memory, team: team)

  p.ex-memory-card__memo = memory.memo

  - if memory.picture
    = render partial: "teams/pictures/picture", locals: { team:, picture: memory.picture }
  - if memory.thought
    = render partial: "teams/thoughts/thought", locals: { team:, thought: memory.thought }
  - if memory.location
    = render partial: "teams/locations/location", locals: { team:, location: memory.location }
  - if memory.weblink
    = render partial: "teams/weblinks/weblink", locals: { team:, weblink: memory.weblink }
