= render(Example::CardComponent.new(variant: :default, accent: "gold", href: href)) do |card|
  - if image
    - card.with_media do
      div style="aspect-ratio: 3 / 2"
        = image_tag(image, alt: "", loading: "lazy")

  - card.with_header do
    .ex-cluster.ex-cluster--between
      .ex-cluster.ex-cluster--sm
        = render(Example::IconComponent.new("feather", size: :sm))
        span.ex-badge Memory
      = render(Example::BadgeComponent.new(visibility[:label], variant: visibility[:variant], icon: visibility[:icon]))

  p.ex-memory-card__memo = memo

  - if thought
    p.ex-memory-card__quote = thought

  - if location || tags.any?
    .ex-cluster.ex-cluster--sm
      - if location
        = render(Example::TagComponent.new(location, icon: "map-pin"))
      - tags.each do |tag|
        = render(Example::TagComponent.new(tag))

  - card.with_footer do
    .ex-cluster.ex-cluster--between style="width: 100%"
      .ex-meta
        = render(Example::AvatarComponent.new(name: author, size: :sm))
        strong = author
        span.ex-meta__sep
        span = team
      .ex-meta
        = render(Example::IconComponent.new("calendar", size: :sm))
        span = on
