= render Yui::CardComponent.new(id: helpers.dom_id(record_event)) do
  .yui-cluster.yui-cluster--sm
    = render Yui::BadgeComponent.new(record_event.name)
    span.yui-meta = occurred_at
    - if record_event.done_by_admin?
      = render Yui::BadgeComponent.new("by admin", variant: :warning)

  dl.yui-details
    dt Record
    dd
      = record_link
      = " "
      code.yui-code = record_event.record_id
    dt User
    dd
      - if user_link
        = user_link
        = " "
      code.yui-code = record_event.user_id
    dt Team
    dd
      = team_display
      - if @team
        = " "
        code.yui-code = record_event.team_id
    dt ID
    dd
      code.yui-code = record_event.id
