.yui-record-header
  div
    = content_tag(heading_tag, title, class: "yui-record-header__title")
    .yui-record-header__meta
      - if date.present?
        span
          strong = "#{date_label}: "
          = date
      span
        strong Visibility:&nbsp;
        = @record.visibility
        - unless @hide_actions
          = render ContentVisibilityModalComponent.new(record: @record, user: current_user, team: current_team, member: current_member)

  - unless @hide_actions
    .yui-record-header__actions
      - if show_open_button?
        = render Yui::ButtonComponent.new("Open", href: show_path, variant: :secondary, size: :sm)
      - if can_rewrite?
        = render Yui::ButtonComponent.new("Rewrite", href: edit_path, variant: :ghost, size: :sm)
