= render Yui::CardComponent.new do
  = form_with(model: [:admin, user], builder: YuiFormBuilder, html: { class: "yui-stack" }) do |form|
    = render Yui::HeadlineComponent.new(form_legend, level: 3)
    = render partial: "shared_partials/form_validation_errors", locals: { record: user }
    = form.text_field :name
    = form.text_field :email, label: "Email"
    / TODO: an admin should reset a password, not set it directly
    = form.password_field :password
    = form.submit
