<article id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

<%= render AdminActionsComponent.new(record: user, name: "user") %>
</article>
