= render Yui::CardComponent.new(id: dom_id(member)) do
  = render Yui::HeadlineComponent.new(member.user.name, level: 3)
  dl.yui-details
    dt User
    dd
      = link_to member.user.name, admin_user_path(member.user), class: "yui-link"
      = " "
      code.yui-code = member.user_id
    dt Roles
    dd = member.roles.to_sentence
    = render AdminShowTeamComponent.new(team: member.team)
    = render AdminShowMetaInformationComponent.new(record: member)
  = render AdminActionsComponent.new(record: member, name: "member")
