<h2>Unfortunately you encountered an issue.</h2>

<h3>Error: <%= code %> <%= "(#{status})" %></h3>

<p>
  <%= message %>
</p>

<p>
  <%= link_to "Back to previous page", :back, role: "button", class: "contrast" %>
</p>

<% if status >= 500 %>
  <div class="error_comment">This looks like an issue on our side. We will look into it.</div>
<% end %>
