.ex-cluster.ex-cluster--lg
  - Example::IconComponent::PATHS.each_key do |name|
    .ex-stack.ex-stack--xs style="align-items: center; width: 5rem"
      = render(Example::IconComponent.new(name, size: :lg))
      span.ex-text--sm.ex-text--muted style="font-family: var(--ex-font-mono); font-size: var(--ex-text-xs)"
        = name
