.ex-cluster.ex-cluster--lg style="align-items: baseline"
  = render(Example::IconComponent.new("feather", size: :sm))
  = render(Example::IconComponent.new("feather", size: :md))
  = render(Example::IconComponent.new("feather", size: :lg))
