- if local_assigns[:hide_actions]
  = render Yui::TagComponent.new(icon: "map-pin", id: dom_id(location)) do
    = location.name
    - if location.country
      = " #{location.country.emoji_flag}"
- else
  = render Yui::CardComponent.new(id: dom_id(location)) do
    = render ManageHeaderComponent.new(record: location, hide_actions: false)
    dl.yui-details
      - if location.country_label
        dt Country
        dd = location.country_label
      - if location.address.present?
        dt Address
        dd = location.address
      - if location.url.present?
        dt URL
        dd = render ExternalLinkComponent.new(url: location.url, text: location.url)
      - if location.description.present?
        dt Description
        dd = location.description
    - if location.coordinates.present?
      = render MapLinkComponent.new(location: location, width: 600, height: 400)
