article id= dom_id(location)
  header style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1rem; margin-bottom: 1rem;"
    div
      h4 style="margin-bottom: 0.25rem;" = location.name
      p style="margin-bottom: 0;"
        small
          - if location.date.present?
            strong Date:&nbsp;
            = location.date
            | &nbsp;|&nbsp;
          strong Visibility:&nbsp;
          = location.visibility
          - unless local_assigns[:hide_actions]
            = render ContentVisibilityDropdownComponent.new(record: location)

    - unless local_assigns[:hide_actions]
      div style="display: flex; gap: 0.5rem; flex-shrink: 0;"
        - if action_name != "show"
          = link_to "Open", current_team_location_path(location), role: "button", class: "outline", style: "padding: 0.25rem 0.6rem; font-size: 0.8rem; margin-bottom: 0;"
        - if respond_to?(:current_user) && current_user.present? && current_team == location.team && allowed_to?(:update?, location)
          = link_to "Rewrite", edit_current_team_location_path(location), role: "button", class: "outline secondary", style: "padding: 0.25rem 0.6rem; font-size: 0.8rem; margin-bottom: 0;"

  - if location.country_code.present?
    p
      strong Country:&nbsp;
      - iso_country = ISO3166::Country.find_country_by_alpha2(location.country_code)
      - if iso_country
        = iso_country.iso_short_name
        |  (
        = iso_country.alpha2
        | )
        = iso_country.emoji_flag

  - if location.address.present?
    p
      strong Address:&nbsp;
      = location.address

  - if location.url.present?
    p
      strong Url:&nbsp;
      = render ExternalLinkComponent.new(url: location.url, text: location.url)

  - if location.lat.present? || location.long.present?
    p
      - if location.lat.present?
        strong Lat:&nbsp;
        = location.lat
        | &nbsp;&nbsp;
      - if location.long.present?
        strong Long:&nbsp;
        = location.long

  - if location.description.present?
    p
      strong Description:
      br
      = location.description

  - if location.coordinates.present?
    hr
    = render MapLinkComponent.new(location: location, width: 600, height: 400)
