.yui-narrow.yui-stack
  - if current_team == @location.team
    = render partial: "form", locals: { location: @location, form_legend: "Edit location" }
  .yui-cluster
    = render Yui::ButtonComponent.new("Open", href: current_team_location_path(@location), variant: :secondary)
    - if current_team == @location.team
      = render InsightDestroyModalComponent.new(insight: @location, name: "location")
