div class=css_class role="note"
  .yui-callout__icon
    = render(Yui::IconComponent.new(ICONS.fetch(variant)))
  div
    - if title
      p.yui-callout__title = title
    .yui-callout__body
      = content
