div class=css_class role="note"
  .ex-callout__icon
    = render(Yui::IconComponent.new(ICONS.fetch(variant)))
  div
    - if title
      p.ex-callout__title = title
    .ex-callout__body
      = content
