= content_tag(wrapper_tag, class: css_class, style: inline_style, href: href, id: dom_id, data: data) do
  - if media?
    .yui-card__media
      = media
  - if header?
    .yui-card__header
      = header
  - if content.present?
    .yui-card__body
      = content
  - if footer?
    .yui-card__footer
      = footer
