label.yui-choice class=("yui-choice--disabled" if disabled)
  input type=type name=name value=value checked=checked disabled=disabled
  span.yui-choice__text
    = label_text
    - if hint
      small = hint
