.yui-field class=("yui-field--invalid" if invalid?)
  = render(Yui::LabelComponent.new(label, for: field_id, required: required))

  - if kind == :textarea
    textarea.yui-textarea(id=field_id name=name rows=rows placeholder=placeholder
      required=required disabled=disabled autofocus=autofocus autocomplete=autocomplete
      aria-describedby=described_by aria-invalid=aria_invalid)
      = value

  - elsif kind == :select
    .yui-select-wrap class=("yui-select-wrap--multiple" if multiple)
      select.yui-select(id=field_id name=name required=required disabled=disabled
        multiple=multiple autofocus=autofocus aria-describedby=described_by aria-invalid=aria_invalid)
        - if include_blank
          option value="" = blank_option_label
        - Array(options).each do |option|
          - option_label, option_value = option.is_a?(Array) ? option : [option, option]
          option value=option_value selected=option_selected?(option_value)
            = option_label
      - unless multiple
        = render(Yui::IconComponent.new("chevron-down"))

  - else
    input.yui-input(type=type id=field_id name=name value=value placeholder=placeholder
      required=required disabled=disabled autofocus=autofocus autocomplete=autocomplete
      aria-describedby=described_by aria-invalid=aria_invalid)

  - if hint.present?
    span.yui-hint id="#{field_id}-hint"
      = hint

  - if invalid?
    span.yui-error id="#{field_id}-error"
      = render(Yui::IconComponent.new("triangle-alert", size: :sm))
      = error
