- if label
  svg class=css_class viewBox="0 0 24 24" role="img" aria-label=label
    title = label
    == markup
- else
  svg class=css_class viewBox="0 0 24 24" aria-hidden="true" focusable="false"
    == markup
