.yui-modal-wrap data-controller="yui-modal"
  - if trigger
    span.yui-modal__trigger data-action="click->yui-modal#open"
      = trigger
  dialog(class=dialog_class data-yui-modal-target="dialog" aria-labelledby=(title.present? ? title_id : nil))
    .yui-modal__panel
      - if title.present? || dismissible
        header.yui-modal__header
          - if title.present?
            h2.yui-modal__title id=title_id = title
          - if dismissible
            button.yui-modal__close type="button" aria-label="Close" data-action="click->yui-modal#close"
              = render Yui::IconComponent.new("x", size: :sm)
      .yui-modal__body
        = content
      - if footer
        footer.yui-modal__footer
          = footer
