- if href.present?
  = link_to(href, **link_options) do
    - if icon
      = render(Yui::IconComponent.new(icon, size: :sm))
    = label
- else
  span.yui-tag id=dom_id
    - if icon
      = render(Yui::IconComponent.new(icon, size: :sm))
    = label
    - if removable
      button.yui-tag__remove type="button" aria-label="Remove #{label}"
        = render(Yui::IconComponent.new("x", size: :sm))
