@layer components {
  /* 4b. -------------------------------------------------------------- ICON */

  .yui-icon {
    display: inline-block;
    flex: none;
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.2em;
    fill: none;
    stroke: currentcolor;
    stroke-width: 1.75;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .yui-icon--sm {
    width: 1em;
    height: 1em;
  }

  .yui-icon--lg {
    width: 1.75em;
    height: 1.75em;
    stroke-width: 1.5;
  }
}
