- is_location_show = local_assigns[:full] || (controller_name == "locations" && action_name == "show")
- if is_location_show
  = render Yui::CardComponent.new(id: dom_id(location)) do
    dl.yui-details
      dt Name
      dd = location.name
      - if location.country_label
        dt Country
        dd = location.country_label
      - if location.address.present?
        dt Address
        dd = location.address
      - if location.located?
        dt Map
        dd = render ExternalLinkComponent.new(url: location.gmaps_coordinates_url, text: "Google Maps")
      - if location.url.present?
        dt Website
        dd = render ExternalLinkComponent.new(url: location.url, text: location.url)
      - if location.description.present?
        dt Description
        dd = location.description
    = render MapLinkComponent.new(location: location, width: 600, height: 400)
- else
  = render Yui::TagComponent.new(icon: "map-pin", id: dom_id(location)) do
    = location.name
    - if location.country
      = " #{location.country.emoji_flag}"
