.yui-cluster.yui-cluster--lg style="align-items: center"
  = render(Yui::AvatarComponent.new(name: "Mira Kessler", size: :sm))
  = render(Yui::AvatarComponent.new(name: "Andreas Finger", size: :md))
  = render(Yui::AvatarComponent.new(name: "Jonas Reeve", size: :lg))
  = render(Yui::AvatarComponent.new(name: "The Coast Year", size: :xl))
