article
  = form_with(url: search_path, method: :post, data: { controller: "search" }) do |form|
    fieldset
      h3
        legend
          = form_legend
      div
        = form.label :query
        = form.text_field :query, value: query, data: { search_target: "input", action: "input->search#validate" }, minlength: 3, required: true
      div
        = form.label :klass_name
        = form.select :klass_name, %w[Team Memory Location Picture Thought Weblink Member], selected: klass_name.presence || "Team"
      div
        = form.submit "Search", data: { search_target: "submit" }, disabled: (query.to_s.strip.length < 3)
