- if artefact.artefact.present?
  - case artefact.artefact_type
  - when "Chronicle"
    = render partial: "current_teams/chronicles/chronicle", locals: { chronicle: artefact.artefact }
  - when "Memory"
    = render partial: "current_teams/memories/memory", locals: { memory: artefact.artefact }
  - when "Picture"
    = render partial: "current_teams/pictures/picture", locals: { picture: artefact.artefact }
  - when "Location"
    = render partial: "current_teams/locations/location", locals: { location: artefact.artefact }
  - when "Thought"
    = render partial: "current_teams/thoughts/thought", locals: { thought: artefact.artefact }
  - when "Weblink"
    = render partial: "current_teams/weblinks/weblink", locals: { weblink: artefact.artefact }
  - when "Member"
    = render partial: "current_teams/members/member", locals: { member: artefact.artefact }
