= render partial: "form", locals: { picture: @picture, form_legend: "Edit picture" }
= link_to "Show this picture", @picture, role: "button"
= button_to "Destroy this picture", picture_path(@picture), method: :delete, class: "secondary"
