doctype html
html
  head
    title
      | Yournaling Admin Area
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = render "shared_partials/design_head"
    = javascript_importmap_tags
  body.yui-body
    header.yui-navbar-host data-controller="navbar"
      = render AdminNavComponent.new
    = render partial: "shared_partials/flash_notifications"
    main.yui-scope data-area="admin"
      = yield
    button.yui-scroll-top data-controller="scroll-to-top" data-scroll-to-top-target="button" data-action="click->scroll-to-top#scrollToTop" aria-label="Scroll to top"
      = render Yui::IconComponent.new("arrow-up-right")
