doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    = render "shared_partials/design_head", showcase: true
    css:
      body { padding: 1.5rem; }
  body.yui-body
    = yield
