<div>
  <h1>Editing member</h1>

  <%= render "form", member: @member %>

  <%= link_to "Show this member", @member, role: "button"  %>
  <%= link_to "Back to members", members_path, role: "button"  %>
</div>
